<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Categories
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="fiction">Fiction</a></li>
                        <li><a class="dropdown-item" href="biography">Biography</a></li>
                        <li><a class="dropdown-item" href="finance">Finance</a></li>
                        <li><a class="dropdown-item" href="scienceTechnology">Science and Technology</a></li>
                        <li><a class="dropdown-item" href="philosophy">Philosophy</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="newBooks">New Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="contact">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="feedback">Feedback</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="profile">Profile</a>
                </li>
            </ul>
            <button class="btn btn-outline-danger d-flex mx-2" type="submit">Logout</button>

        </div>
    </div>
</nav>
<h1>fiance page</h1>
</body>
</html>